<!DOCTYPE html>
<html>
<head>
    <title>Bank App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <span class="navbar-brand ms-3">Bank App</span>
    </nav>

    <div>
        @RenderBody()
    </div>

    <footer class="bg-dark text-white text-center py-3 mt-5">
        © 2026 Bank App
    </footer>
</body>
</html>
