<div class="container mt-5">
    <h2 class="mb-3">Create New Account</h2>

    <form method="post" class="row g-3">
        <div class="col-md-6">
            <label class="form-label">Owner Name</label>
            <input type="text" name="owner" class="form-control" required />
        </div>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Create Account</button>
            <a href="/Bank/Index" class="btn btn-secondary">Back</a>
        </div>
    </form>
</div>
