@model BankWebApp.Models.BankAccount

<h2>Deposit – Account @Model.AccountNumber</h2>

<form method="post">
    <input type="hidden" name="id" value="@Model.AccountNumber" />

    <div class="mb-3">
        <label>Amount</label>
        <input type="number" name="amount" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-success">Deposit</button>
</form>
