@model YourProjectName.Models.TransferViewModel

<div class="container mt-5">
    <h3>Transfer Money</h3>

    <form asp-action="Transfer" method="post">
        <input asp-for="FromAccount" class="form-control mb-2" placeholder="From Account" />
        <input asp-for="ToAccount" class="form-control mb-2" placeholder="To Account" />
        <input asp-for="Amount" type="number" class="form-control mb-2" placeholder="Amount" />
        <button class="btn btn-info text-white">Transfer</button>
    </form>
</div>
